@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section.card-section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: #121212;
    justify-content: center;
    align-items: center;
}

section.card-section::before{
    content: '';
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transform: translate(-150px, -100px);
    background: linear-gradient(90deg,#9c27b0, #f3f5f5);
}

section.card-section::after{
    content: '';
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transform: translate(150px, 100px);
    background: linear-gradient(90deg,#9c27b0, #f3f5f5);
}

.card-container{
    position: relative;
    width: 375px;
    height: 225px;
    z-index: 100;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #f3f5f5;
    background: rgba(255,255,255,0.1);
    border-radius: 25px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    overflow: hidden;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.18);
}

.card-front header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-front header .logo{
    display: flex;
    align-items: center;
}

.card-front header h5{
    font-size: 1rem;
    font-weight: 400;
}

.card-front header img{
    width: 60px;
    margin-right: 10px;   
}

.card-front .card-number{
    margin: 30px 0;
}

.card-front .card-number h3{
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    font-weight: 400;
}

.card-details{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-holder h4,
.card-expires h4{
    font-size: 1.2rem;
    font-weight: 400;
}

.card-details{
    margin-block-start: -1em;
}

.card-back{
    position: absolute;
    top: 0;
    left: 0;
}

.card-back p{
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.card-back h6{
    margin-bottom: 15px;
    font-size: 0.6rem;
    font-style: italic;
    font-weight: 400;
}

.magnetic-strip{
    width: 100%;
    height: 45px;
    background-color: #000;
    margin-bottom: 25px;
    position: absolute;
    top: 32px;
    left: 0;
}

.signature-box{
    position: relative;
    top: 35px;

}

.signature{   
    position: absolute;
    top: 20px;
    width: calc(100% - 45px);
    height: 45px;
    background: repeating-linear-gradient(
        #fff,
        #fff 3px, 
        #efefef 0px,
        #efefef 9px
     );
    border-radius: 10px;
}

.cvv-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-block-start: 13px;
    border-radius: 5px;
    color: black;
    background: #fff;
    position: relative;
    z-index: -1;
    opacity: 0.5;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.cvv{
    margin: 0 10px;
    font-weight: 600;
}

.info{
    margin-block-start: 5em;
    font-size: 8px;
    margin-top: 60px;
}

.brand-logo{
    position: absolute;
    bottom: 20px;
    right: 20px;  
}

.brand-logo img{
    width: 60px;
    margin-right: 10px;
}

.card-container:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

